<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Research</title>
<link href="/static/skl/style/research.css" rel="stylesheet" type="text/css" />
<link href="/static/skl/style/reset.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/skl/JavaScript/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/skl/JavaScript/research.js"></script>
</head>

<body>
	<div class="content">
		<div class="head">
        	<p>
            	<a href="#">NCEPU Home</a>
                <i></i>
                <a href="#">Chinese</a>
            </p>            
    {% include "includes/wwj_search.html" %}
          
        </div><!--head结束-->
        
<!--nav-->
    {% include "includes/wwj_nav.html" %}
<!--nav结束-->
        
        <img class="openflow" src="/static/skl/img/Open flow.jpg">
        
        
        <div class="cascade">
            <p><a href="/">Home</a><span> > Research Areas</span></p>
        </div>
        
        
        <div class="side">
        	<img src="/static/skl/img/research.jpg" />
  
        </div>
        
        
        <div class="characteristics">
        	<p id="title">CHARACTERISTICS AND MULTI-SCALE MODELING OF THE ELECTRIC POWER 
SYSTEMS WITH RENEWABLE ENERGY GENERATIONS</p>
            <img src="img/characteristics.jpg" />
            <p>CHARACTERISTICS OF THE ALTERNATE ELECTRIC POWER GENERATION PROCESS AND ITS MODELING THEORY</p>
            <p id="text">This research is designed to establish the composite mod-eling theory based on the combination of theoretical analysis and data analysis, study the dynamic characteristics of large-scale alternate electric power generation processes which...</p>
            <a href="#">read more>></a>      
        </div>
        <div class="characteristics">
        	<p id="title">POWER CONVERSION AND TRANSMISSION  IN POWER SYSTEMS WITH 
LARGE-SCALE RENEWABLE ENERGY GENERATIONS</p>
            <img src="img/conversion.jpg" />
            <p>ELECTRIC POWER CONVERSION AND POWER QUALITY ASSURANCE</p>
            <p id="text">This research mainly focuses on four fields: 1) power quality; 2) HVDC and FACTS; 3) alternate electric power conversion and intelligent transmission & distribution; 4) electric vehicle charge-discharge properties and its impact on the power ....</p>
            <a href="#">read more>></a>           
        </div>
        <div class="characteristics">
        	<p id="title">CONTROL AND OPTIMIZATION OF THE ELECTRIC POWER SYSTEMS WITH 
RENEWABLE ENERGY GENERATIONS</p>
            <img src="img/control.jpg" />
            <p>STATUS MONITORING AND OPTIMIZATION CONTROL OF THE RENEWABLE ENERGY GENERATION PROCESS</p>
            <p id="text">The research is designed to establish date-based status monitoring theory and network-based wide area monitoring information system for wind, solar, biomass energies and other renewable energy sources-based generation equipments ....</p>
            <a href="#">read more>></a>     
        </div>
        
        
                    	
    </div><!--content结束-->
    <div class="copyright">
    	<p>Copyright 2013 State Key Laboratory Of Alternate Electrical Power System WithRenewable Energy Sources（NCEPU） All Rights Reserved.<br/>
        <p>Technical Support:Dreamtech Studio</p>
    </div>    
</body>
</html>