<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Research</title>
<link href="/static/skl/style/research.css" rel="stylesheet" type="text/css" />
<link href="/static/skl/style/reset.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/skl/JavaScript/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/skl/JavaScript/research.js"></script>
<script type="text/javascript" src="/static/skl/JavaScript/home.js"></script>
</head>

<body>

{% load pagination_tags %}
{% autopaginate news 6 %}
	<div class="content">
		<div class="head">
        	<p>
                <a href="http://202.204.74.139/">Chinese</a>

            </p>    
                    
    {% include "includes/wwj_search.html" %}
         

        </div><!--head结束-->
        
<!--nav-->
    {% include "includes/wwj_nav.html" %}
<!--nav结束-->

<!--slides-->
        <div class="pictures">
          <img  src="/static/skl/img/banner/banner_01.png"><!--这张图片要和class="picture1"的一样-->
          <img class="picture3"  src="/static/skl/img/banner/banner_03.png">
          <img class="picture2"  src="/static/skl/img/banner/banner_02.png">
          <img class="picture1"  src="/static/skl/img/banner/banner_01.png">
        </div>
<!--end slides-->          
        
        <div class="cascade">
        	<p><a href="/">Home</a><a href="#"><span> > </span><a href="/newsevents/search/?title=ncepu">Research</a><span> > Research Areas</span></p>
        </div>
        
        
        
        <div class="side">
        	<img src="/static/skl/img/News&Events.jpg" />
            <a href="#"><span>search</span><img src="/static/skl/img/arrowtip.jpg" /></a>
        </div>
        
<!--base-->    
{% load mezzanine_tags %}
{%for new in news%}
        <div id="wwj_text_research" class="characteristics">
        	<p id="title">{{new.title}}</p>
            <p>{{new.summary}}</p>
            <p id="text">{{ new.content|slice:":200"|richtext_filters|safe }}</p>
            <p ><a style="left: 0px" href="/newsevents/categories/news/{{new.id}}">read more>></a></p>   
        </div>
<!--end base-->    
{%endfor%}

        
        <ul class="pager" style="clear:both">    
            {% paginate %}
        </ul>
        
                    	
    </div><!--content结束-->
    <div class="copyright">
    	<p>Copyright 2013 State Key Laboratory Of Alternate Electrical Power System WithRenewable Energy Sources（NCEPU） All Rights Reserved.<br/>
        <p>Technical Support:Dreamtech Studio</p>
    </div>    
</body>
</html>
