@charset "utf-8";
/* CSS Document */
.content{
	width:976px;
	margin:0 auto;
	overflow:hidden;
}
.head{
	width:976px;
	height:91px;
	background:url(../img/headbackground.jpg) no-repeat;
	font:Arial;
}
.head p{
	position:relative;
	top:5px;
	left:695px;
}
.head p a{
	color:#2f2f2f;
	font-size:16px;
	float:left;
}
.head p a + a{
	margin:0 3px;
	border-left:solid;
}
.head p i{
	float: left;
	width: 1px;
	height: 11px;
	margin:3px 5px;
	background:#c0c0c0;
}
.head form{
	width:155px;
	height:21px;
	background:url(../img/searchbackground.jpg) repeat;
	position:relative;
	top:60px;
	left:690px;
}
.head form input{
	color:#acacac;
	width:127px;
	height:10px;
	position:relative;
	top:-18px;
	left:2px;
	border:hidden;
	padding:2px 0 4px 3px;
}
.head form button{
	width:18px;
	height:18px;
	position:relative;
	top:-16px;
	left:2px;
	border:hidden;
	background:url(../img/magnifier.jpg) no-repeat;	
}
.nav{
	position:relative;
}
.nav li{
	float:left;
	color:#000;
	font-size:14px;
	padding:9px 25px;
}
.nav li a{
	color:#000;
	display:block;
	text-align:center;
}
.nav li a:hover{
	color:#0083a9;
	font-weight:bold;
}

.nav i{
	float:left;
	width: 1px;
	height: 11px;
	margin:10px 0;
	background:#bdbdbd;
}
.nav li ul{

	display:none;
	position:absolute;
	top:32px;
	background:#FFF;
	z-index:1;
}
.nav li ul li{
	width:250px;
	color:#000;
	font-size:14px;
	margin:0;
	padding:0px; 
	
}
.nav li ul li a{
	padding:5px 0;
	text-align:left;
	color:#000;
	display:block;
	padding:10px 0 6px 20px;
	background:url(../img/menubackground.jpg) left no-repeat;
}
.nav li ul li a:hover{
	background:url(../img/menuhover.jpg) left no-repeat;
	color:#0083a9;
	font-weight:bold;
}
.people{
	left:221px;
	width:250px;
	height:90px;
}
.research{
	left:320px;
	width:200px;
	height:30px;
}
.newsevents{
	left:576px;
	width:155px;
	height:60px;
}
.facilities{
	left:724px;
	width:121px;
	height:210px;
}
#home{
	width:40px;
}
#introduction {
	width:86px;
	
	font-weight:bold;
}
#introduction a{
	color:#0083a9;
}
#people{
	width:49px;
}
#research{
	width:67px;
}
#publications{
	width:86px;
}
#newsevents{
	width:97px;
}
#facilities{
	width:63px;
}
#contact{
	width:75px;
}

.cascade{
	font-size:14px;
	padding:5px 10px;
	border-bottom:#000 dotted 2px;
}
.side{
	width:287px;
	height:2100px;
	background:#89c7d9;
	float:left;
}
.text{
	width:640px;
	float:left;
	padding:15px 0 0px 40px;
}
.text img{
	float:left;
	padding:15px 5px 5px 5px;
}
#picture02{
	float:right;
}
#picture03{
	
}
.text p{
	line-height:21px;
	padding:10px 0 0 0;
	text-indent:20px;
	font-size:12px;
	width:610px;
}
#tile{
	color:#ad010a;
	text-indent:0px;
	font-size:18px;
	font-family:Ebrima, Arial;
	width:610px;
	
}
	

#introduction{
	color:#0083a9;
	font-weight:bold;
}

.copyright{
	background:#0083a9;
	padding:8px 0;
}
.copyright p{
	line-height:16px;
	color:#FFF;
	font-size:12px;
	text-align:center;
}
