<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Facilities</title>
<link href="/static/skl/style/facilities.css" rel="stylesheet" type="text/css" />
<link href="/static/skl/style/reset.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/skl/JavaScript/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/static/skl/JavaScript/home.js"></script>
<script type="text/javascript" src="/static/skl/JavaScript/facilities.js"></script>
</head>

<body>

{% load pagination_tags %}
{% autopaginate list_items 6 %}


	<div class="content">
		<div class="head">

            {% include "includes/chinese_link.html" %}
        

    {% include "includes/wwj_search.html" %}
          
        </div><!--head结束-->
        
<!--nav-->
    {% include "includes/wwj_nav.html" %}
<!--nav结束-->  
<!--slides-->
        <div class="pictures">
          <img  src="/static/skl/img/banner/banner_01.png"><!--这张图片要和class="picture1"的一样-->
          <img class="picture3"  src="/static/skl/img/banner/banner_03.png">
          <img class="picture2"  src="/static/skl/img/banner/banner_02.png">
          <img class="picture1"  src="/static/skl/img/banner/banner_01.png">
        </div>
<!--end slides-->        
        
        <div class="cascade">
        	<p><a href="#">Home</a><a href="#"><span> > </span><a href="#">Facilities </a><span> > {{category}}</span></p>
        </div>
        
        
        
        <div class="side">
        	<img src="/static/skl/img/Facilities.jpg" />
            
            {% for item in categories_list %}
            <a href="/facilities/categories/{{item.name}}"><span>{{item.name}}</span>
            {% ifequal item.name category %}<img src="/static/skl/img/arrowtip.jpg" />{% endifequal %}
            </a>
            {% endfor %}

        </div>
        
        
        <div class="contents">
        	<p id="title">Facilities</p>
            <!--基本单位-->
        {% for item in list_items %}
            <div>
            	<p>{{item.name}}</p>
                <img src="/static/media/{{item.img}}" />
            </div>
        {% endfor %}
            <!--end 基本单位-->
        <ul class="pager" style="clear:both">    
            {% paginate %}
        </ul>

      	</div>
       

        
                    	
    </div><!--content结束-->
    <div class="copyright">
    	<p>Copyright 2013 State Key Laboratory Of Alternate Electrical Power System WithRenewable Energy Sources（NCEPU） All Rights Reserved.<br/>
        <p>Technical Support:Dreamtech Studio</p>
    </div>    
</body>
</html>
